.paginationbox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    .pagination {
        .MuiPaginationItem-root {
            color: white;
            border-color: white;
        }

        .MuiPaginationItem-root.Mui-selected {
            background-color: white;
            color: black;
        }

        .MuiPaginationItem-root:hover {
            background-color: white;
            color: white;
        }
    }
}
