.movieDetail {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;

  .info {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .backdrop {
      width: 100%;
      height: 700px;
      position: absolute;
      z-index: -1;
      opacity: 0.5;
      filter: blur(4px);
      border-radius: 10px;
      object-fit: cover;

      @media (max-width: 768px) {
        height: 400px;
      }
    }

    .main_info {
      width: 100%;
      height: 700px;
      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: 768px) {
        height: 400px;
        flex-direction: column;
      }

      .main_info_center {
        height: 100%;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        @media (max-width: 768px) {
          flex-direction: column;
          width: 90%;
        }

        .poster {
          height: 80%;
          border-radius: 10px;
          object-fit: cover;

          @media (max-width: 768px) {
            display: none;
          }
        }

        .poster_skeleton {
          height: 80%;
          border-radius: 10px;
          object-fit: cover;
          background: rgb(125, 125, 125);

          @media (max-width: 768px) {
            display: none;
          }
        }

        .textbox {
          display: flex;
          flex-direction: column;
          width: 50%;
          color: var(--navbar-button-hover-color);

          @media (max-width: 768px) {
            width: 90%;
            align-items: center;
            text-align: center;
          }

          .skeleton {
            background-color: rgb(125, 125, 125);
          }
        }
      }
    }
  }
}
