.postlist {
    display: flex;
    // flex-direction: column;
    width: 100%;
    flex-direction: column;
    align-items: center;
    h1 {
        margin: 25px;
    }
    input {
        width: 80%;
        height: 35px;
        margin: 35px;
        opacity: 0.9;
    }
    .postlist_center {
        width: 80%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 20px;
        .skeletonWrapper {
            position: relative;
            border-radius: 15px;
        }
        .postItem {
            position: relative;

            img {
                border-radius: 15px;
                width: 90%;
                height: 280px;
                transition: 0.3s ease-in-out;
            }

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 90%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.7);
                border-radius: 15px;
                opacity: 0;
                transition: opacity 0.3s ease-in-out;
            }

            &:hover::after {
                opacity: 1;
            }
        }

        .hoverText {
            position: absolute;
            padding: 0px 0px 15px 15px;
            bottom: 0;
            left: 0;
            border-radius: 15px;
            color: white;
            font-size: 14px;
            display: none;
            z-index: 1;
            h2 {
                font-size: 2rem;
            }
            p {
                font-size: 1.1rem;
            }
        }

        .postItem:hover .hoverText {
            display: block;
        }
    }
}
