.authInput {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--auth-input-background-color, #f0f0f0);

  .authInputCenter {
    width: 40%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--auth-input-center-background-color, #ffffff);

    h2 {
      text-align: center;
      color: var(--auth-input-h2-color, #333);
    }

    .register {
      text-align: center;
      color: var(--auth-input-register-color, #1890ff);
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
