.authInput {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    .authInputCenter {
        background-color: white;
        width: 600px;
        height: 500px;
        display: flex;
        border: 1px solid black;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.3);
        form {
            height: 80%;
            display: flex;
            flex-direction: column;
            width: 80%;
            justify-content: space-between;
            .checkboxWrapper {
                position: relative;
                display: flex;
                justify-content: start;
                label {
                    display: flex;
                    input {
                        width: 50px;
                        height: 25px;
                    }
                }
                .errorText {
                    color: red;
                }
            }
            input {
                display: flex;
                border: none;
                width: 100%;
                height: 45px;
                border-radius: 10px;
            }
            button {
                width: 100px;
                height: 45px;
                border-radius: 10px;
                border: 1px solid black;
            }
        }
    }
}
